{% extends 'app_reviews/base.html' %}

{% block body %}



<div class = "container">
{% if result_string %}
	<p>{{ result_string }}</p>
{% else %}
    <p>No Results yet.</p>
{% endif %}

</div>




<!-- this part to get the csv file -->
<form action="{% url 'app_reviews:get_reviews_csv' %}" method="post">
{% csrf_token %}	
<div class = "container">
{% if reviews_csv %}
	  <!-- <form action="/get_reviews_csv"> -->
	    <div class="form-group">
	      <input type="hidden" class="form-control" id="reviews_csv" name="reviews_csv" value="{{reviews_csv}}">
	    </div>
	    <button type="submit" class="btn btn-default">Get CSV</button>
	  </form>
{% else %}
    <p>No csv yet.</p>
{% endif %}

</div>
</form>



<!-- this part to get the word cloud -->
<div class = "container">
{% if word_cloud_image_url %}
	<!-- <p><img src="/app/app_reviews/outputs/wordcloud.png" alt="wordcloud"></p> -->
	<!-- <p><img src="/media/app_reviews/wordcloud.png" alt="wordcloud"></p> -->
	<p><img src="{{word_cloud_image_url}}" alt="wordcloud"></p>
{% else %}
    <p>No wordcloud yet.</p>
{% endif %}

</div>






{% endblock %}